/* COMPUTER ONLY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) {
  #Intro {
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }

  #ProfilePic {
    animation: random 2s infinite;
    top: 70vh;
    width: 30rem;
    right: 12rem;
    position: absolute;
  }

  #AboutMe {
    height:70vh;
  }
  /* #Arrow {
    animation: bounce 2s infinite;
  } */
  #blackBloc {
    /* position: absolute;
  top: 10vh;
  right: 20vw;
  width: 20vw; */
    position: absolute;
    top: 65vh;
    left: 6vw;
    z-index: 50;
    width: 20vw;
  }

  #MohamedText {
    font-size: 8rem;
    line-height: 1;
  }

  #Welcome {
    position: absolute;
    top: 18vh;
    right: 5vw;
    width: 23vw;
    z-index: 30;
  }

  #CV {
    position: absolute;
    top: 5vh;
    left: 27vw;
    width: 20vw;
  }

  #PixelMoha {
    position: absolute;
    top: 23vh;
    left: 13vw;
    width: 20vw;
    z-index: 45;
  }

  #Mohamed {
    position: absolute;
    top: 40vh;
    left: 28.5vw;
    width: 20vw;
    z-index: 60;
  }

  #Terminal {
    position: absolute;
    left: 5vw;
    top: 115vh;
    /* right: 2vw; */
    /* width: 35vw; */
  }

  #Gamilx {
    position: absolute;
    top: 50vh;
    left: 28.5vw;
    width: 20vw;
    z-index: 60;
  }

  #Gamil {
    filter: drop-shadow(5px 5px black);
    font-size: 12rem;
    transform: translate(0, 29.1px);
    font-family: "Thomas";
  }

  #FortyTwo {
    position: absolute;
    top: 2vh;
    right: 27vw;
    width: 15vw;
    z-index: 20;
  }

  #Arrow {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  /* body { */
  /* background-color: pink !important;  */
  /* } */
}

/* IDK ? */
/* @media (min-width: 992) {
  /* #Welcome,
  #Terminal,
  #blackBloc {
    display: none;
  }
  #CV {
    position: absolute;
    top: 65vh;
    left: 5vw;
  }
  #FortyTwo {
    right: 5vw;
    width: 25vw;
  }
  #PixelMoha {
    top: 10vh;
    width: 35vw;
  } */
/* }  */
/* */

/* PHONE */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  body {
    overflow-x: none;
  }
  #Welcome,
  #Terminal,
  #blackBloc {
    display: none;
  }

  #Intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 80vh;
    width: 100vw;
    align-items: center;
  }
  #CV {
    display: none;
    width: 12vw;
  }
  #FortyTwo {
    display: none;
    /* position: absolute; */
  }
  #PixelMoha {
    /* position: absolute; */
    width: 35vw;
  }
  #Mohamed {
    /* position: absolute; */
  }
  #MohamedText {
    /* position: absolute; */
    margin: 1rem;
    font-size: 4.1rem;
  }
  #Gamilx {
    /* position: absolute; */
    z-index: 60;
  }
  #Gamil {
    /* position: absolute; */
    font-size: 8rem;
    transform: translate(0, -50px);
  }
  #MargoBox {
    /* display: block; */
    /* position: absolute; */
    /* display: none; */
  }

  #Arrow {
    display: none;
    position: absolute;
    bottom: 1vh;
    animation: bounce 2s infinite;
  }

  i {
    font-size: 2rem;
  }
  #AboutMe {
    display: none;
  }

  #ProfilePic { 
    display: none;
    animation: random 2s infinite;
    width: 50vw;
    position: absolute;
    bottom: -25vh;
    left: 20vw;
    border-radius: 50%;
    /* margin: 10 auto; */
  }
}
