/* COMPUTER */
@media screen and (min-width: 768px) {
  #ProfilePic {
    width: 20rem;
    animation: random 2s infinite;
    background-color: red !important;
    padding: 1px;
  }

  #ProfileNcv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  #AboutMe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* background-color: #131417; */

    /* background-color: var(--my-white); */
  }

  #Terminal {
    /* background-color: red !important;
    padding: 1px; */
  }

  #CV {
    /* background-color: red !important;
    padding: 1px; */
    /* width: 350px; */
  }

  /**********************************************************/
  #LangBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: white; */
    background: linear-gradient(
      180deg,
      var(--my-black) 25%,
      var(--my-white) 0%
      );
    width: 100%;
    height: 30vh;
    /* background-color: red !important; */
  }
  #myman {
    font-family: "Pixer", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.9vw;
    width: 10vw;
    height: 10vw;
    border-radius: 15%;
    padding: 0.5em;
    margin: 0.4em;
    color: var(--my-white);
  }

  #myman p {
    display: block;
  }

  #myman i {
    /* margin: 0 auto; */
    font-size: 4.9vw;
  }
}
