/* COMPUTER */
@media screen and (min-width: 768px) {
  #ProfilePic {
    /* transform: rotate(0deg); */
    width: 20rem;
    /* transform: translate(0, -190px); */
    animation: random 2s infinite;
    /* top: 70vh; */
    /* right: 12rem; */
    /* position: absolute; */
  }

  #ProfileNcv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  #AboutMe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background-color: #131417;

    /* background-color: chocolate; */
  }

  #Terminal {
    /* position: absolute; */
    /* left: 5vw; */
    /* top: 115vh; */
  }

  #CV {
    /* position: absolute; */
    /* top: 5vh; */
    /* left: 27vw; */
    width: 200px;
    z-index: 90;
  }
}

/* PHONE */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  #ProfilePic {
    display: none;
    animation: random 2s infinite;
    width: 50vw;
    position: absolute;
    bottom: -25vh;
    left: 20vw;
    border-radius: 50%;
  }

  i {
    font-size: 2rem;
  }

  #AboutMe {
    display: none;
  }
}
