/* PHONE */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  #ProfilePic {
    /* display: none; */
    animation: random 2s infinite;
    width: 50vw;
    /* position: absolute; */
    bottom: -25vh;
    left: 20vw;
    border-radius: 50%;
  }

  #AboutMe {
    /* background-color: red !important; */
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    height: 70vh;
  }

  #ProfilePic #khalid {
    font-size: 1.5rem;
  }

  #ProfileNcv {
    transform: translateY(3vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    /* line-height: 0.5; */
  }

  #CV {
    display: none;
  }

  #Terminal {
    display: none;
  }

  #Me {
    display: block;
    font-size: 1rem;
    color: var(--my-white);
    text-wrap: wrap;
    text-align: left;
    width: 80vw;
  }

  /***********************/
  #LangBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: white; */
    background: linear-gradient(
      180deg,
      var(--my-black) 50%,
      var(--my-white) 0%
    );
    width: 100%;
    margin-bottom: -10vh;
    height:fit-content;
    /* background-color: green !important; */
  }

  #myman {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.075rem;
    width: 20vw;
    height: 20vw;
    border-radius: 15%;
    display: flex;
    padding: 0.5em;
    margin: 0.4em;
    color: var(--my-white);
  }

  #myman p {
    display: block;
  }

  #myman i {
    margin: 0 auto;
    font-size: 7.9vw;
  }
}
