/* TABLET ONLY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: red !important;
  }

  #Intro {
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }

  #blackBloc {
    position: absolute;
    top: 65vh;
    left: 6vw;
    z-index: 50;
    width: 20vw;
  }

  #MohamedText {
    font-size: 8rem;
    line-height: 1;
  }

  #Welcome {
    position: absolute;
    top: 18vh;
    right: 5vw;
    width: 23vw;
    z-index: 30;
  }

  #CV {
    position: absolute;
    top: 5vh;
    left: 27vw;
    width: 20vw;
    z-index: 90;
  }

  #PixelMoha {
    position: absolute;
    top: 23vh;
    left: 13vw;
    width: 20vw;
    z-index: 45;
  }

  #Mohamed {
    position: absolute;
    top: 40vh;
    left: 35.5vw;
    width: 20vw;
    z-index: 60;
  }

  #Gamilx {
    position: absolute;
    top: 50vh;
    left: 35.5vw;
    width: 20vw;
    z-index: 60;
  }

  #Gamil {
    filter: drop-shadow(5px 5px black);
    font-size: 12rem;
    transform: translate(0, 29.1px);
    font-family: "Thomas";
    color: white;
  }

  #FortyTwo {
    position: absolute;
    top: 2vh;
    right: 27vw;
    width: 15vw;
    z-index: 20;
  }

  #Arrow {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}

/*

  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV

*/