@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pixer";
  src: url("./assets/Pixer-Regular.woff");
}

@font-face {
  font-family: "Pixer2";
  src: url("./assets/Pixer-Regular.woff2");
}

#Pixer {
  font-family: "Pixer", sans-serif;
}

body {
  background-color: #695c5c;
}