@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixer";
  src: url("./assets/Pixer-Regular.woff");
}

@font-face {
  font-family: "Pixer2";
  src: url("./assets/Pixer-Regular.woff2");
}

@font-face {
  font-family: "PKMN";
  src: url("./assets/PKMN.otf");
}

@keyframes revealAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(100deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
  }
}

#blackBloc, #Terminal, #Welcome {
  @media (max-width: 768px) {
    display: none;
  }
}

@keyframes invisibleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#MargoBox {
  font-family: "Pixer", sans-serif;
  color: pink;
}

p {
  color: inherit;
}

body {
  font-family: "Pixer", sans-serif;
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #131417;
  cursor: default;
  user-select: none; /* Standard syntax */
}

.button {
  cursor: pointer;
}
