.footer {
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer a {
font-size: 6rem;
  margin: 0.5rem;
}